*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
    --neutral-100: #fff;
--neutral-300: #A9AFBC;
--neutral-400: #737B8C;
--neutral-900: #020203;
--primary-400: #FF3369;
}
img {
  display: block;
  width: 100%;
}
.wrapper{
    padding: 4rem 0;
}
.img-box {
  display: none;
}
h1{
    margin-bottom: 2rem;
    text-transform: capitalize;
}
label{
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 0.9rem;
}
input{
    border-radius: 5px;
    padding: 0.75rem;
    border: 1px solid #A9AFBC;

}
input::placeholder{
    color: #A9AFBC;
    font-size: 1.25rem;
}
form {
  width: 95%;
  margin: 0 auto;
  padding: 8px;
  
}

form > * + * {
  margin-top: 1rem;
}
div {
  display: flex;
  flex-direction: column;
}
.icon-list {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3,auto);
  gap: 1rem;
}
button {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  background: var(--neutral-900);
  color: white;
  text-transform: capitalize;
  font-size: 1.5rem;
  border-radius: 10px;
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    
}
.para {
  background-color: rgb(199, 190, 190);
  height: 1px;
  
}
.grid-box-para{
    justify-self: center;
    color: rgb(168, 157, 157);
}
a{
    text-decoration: none;
}
.footer-para{
    margin-top: 3rem;
    text-align: center;
    text-transform: capitalize;
}
@media screen and (min-width:48rem) {
    .wrapper{
        padding: 0;
        display: grid;
        grid-template-columns:1fr minmax(200px ,400px);
        
    }
    form{
        padding: 3rem 1rem;
        
        
        
    }
    .img-box{
        display: grid;
       
    }
    .main-img{
        height: 100%;
        object-fit: cover;
    }
    .grid-box{
grid-template-columns: 1fr 2fr 1fr;
    }
    
}